__pycache__/
.ipynb_checkpoints
results/fractions_co35_5_4res
results/fractions_co40_5_4res
results/fractions_co45_5_4res
results/fractions_co55_5_4res
results/fractions_co60_5_4res
Out_long24_5A
Out_potential0
Out_potential0_short
Out_potential1
Out_segments_50_4
Out_short24_5A
CT Output data